In [7]:
# Import the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [14]:
# 1) (5 points) Read the vertebrate.csv data
df = pd.read_csv('data/vertebrate.csv')
display(df)

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Class
0,human,1,1,0,0,1,0,mammals
1,python,0,0,0,0,0,1,reptiles
2,salmon,0,0,1,0,0,0,fishes
3,whale,1,1,1,0,0,0,mammals
4,frog,0,0,1,0,1,1,amphibians
5,komodo,0,0,0,0,1,0,reptiles
6,bat,1,1,0,1,1,1,mammals
7,pigeon,1,0,0,1,1,0,birds
8,cat,1,1,0,0,1,0,mammals
9,leopard shark,0,1,1,0,0,0,fishes
10,turtle,0,0,1,0,1,0,reptiles
11,penguin,1,0,1,0,1,0,birds
12,porcupine,1,1,0,0,1,1,mammals
13,eel,0,0,1,0,0,0,fishes
14,salamander,0,0,1,0,1,1,amphibians

In [22]:
# 2) (15 points) The number of records is limited. Convert the data into a binary classification: mammals versus non-mammals
# Hint: ['fishes','birds','amphibians','reptiles'] are considered 'non-mammals'
# Create column and binarily classify whether entry is a mammal
df['Mammal'] = np.where(df['Class'] == 'mammals', 1, 0)

# Drop the old classification column
df = df.drop('Class', axis=1)

display(df)

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Mammal
0,human,1,1,0,0,1,0,1
1,python,0,0,0,0,0,1,0
2,salmon,0,0,1,0,0,0,0
3,whale,1,1,1,0,0,0,1
4,frog,0,0,1,0,1,1,0
5,komodo,0,0,0,0,1,0,0
6,bat,1,1,0,1,1,1,1
7,pigeon,1,0,0,1,1,0,0
8,cat,1,1,0,0,1,0,1
9,leopard shark,0,1,1,0,0,0,0
10,turtle,0,0,1,0,1,0,0
11,penguin,1,0,1,0,1,0,0
12,porcupine,1,1,0,0,1,1,1
13,eel,0,0,1,0,0,0,0
14,salamander,0,0,1,0,1,1,0

In [ ]:
# 4) (10 points) Create a decision tree classifier object. The impurity measure should be based on entropy. Constrain the generated tree with a maximum depth of 3